<div class="container">
    <div class="row">

        <div class="col-sm card" id="add">
            <h1>Add</h1>
            <form action='/api/burgers/create' method="POST">
                <input
                    aria-label="add a burger"
                    type="text" 
                    id="burger" 
                    name="burger_name" 
                    value="" 
                    placeholder="Royale avec Fromage">
                <button type="submit" aria-label="submit" title="submit">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </form>
        </div>

        <div class="col-sm card" id="eat">
            <h1>Eat</h1>
            {{#each burgers.uneaten}}
                <div class='eat'>
                    <form action='/api/burgers/devour/{{this.id}}' method="POST">
                        <label>{{this.burger_name}}</label>
                        <button type="submit" aria-label="eat" title="eat">
                            <i class="fas fa-hamburger" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            {{/each}}
        </div>

        <div class="col-sm card" id="vomit">
            <h1>Vomit</h1>
            {{#each burgers.eaten }}
                <div class='vomit'>
                    <form action='/api/burgers/vomit/{{this.id}}' method="POST">
                        <label>{{this.burger_name}}</label>
                        <button type="submit" aria-label="vomit" title="vomit">
                            <i class="fas fa-skull-crossbones" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            {{/each}}
        </div>
    </div>
</div>