<div class="container">
    <div class="row">

        <div class="col-sm card">
            <h1>Add</h1>
            <form class='form-inline' action='/api/burgers/create' method="POST">
                <input
                    aria-label="add a burger"
                    type="text" 
                    id="burger" 
                    name="burger_name" 
                    value="" 
                    placeholder="Royale avec Fromage">
                <br>    
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="col-sm card">
            <h1>Eat</h1>
            {{#each burgers.uneaten }}
                <div class='eat'>
                    <form class='form-inline' action='/api/burgers/devour/{{this.id}}' method="POST">
                        <label>{{this.burger_name}}</label>
                        <button type="submit">Devour</button>
                    </form>
                </div>
            {{/each}}
        </div>

        <div class="col-sm card">
            <h1>Vomit</h1>
            {{#each burgers.eaten }}
                <div class='vomit'>
                    <form class='form-inline' action='/api/burgers/vomit/{{this.id}}' method="POST">
                        <label>{{this.burger_name}}</label>
                        <button type="submit">Vomit</button>
                    </form>
                </div>
            {{/each}}
        </div>
    </div>
</div>